<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Twitter</title>
    <link rel='stylesheet' href="/bower_components/skyblue/css/skyblue.min.css">
</head>

<body>
    <topbar></topbar>
    <tweetForm></tweetForm>
    <tweet></tweet>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js'></script>
    <script src='https://cdn.jsdelivr.net/riot/2.3/riot.min.js'></script>
    <script>
        var request = window.superagent;
        request.get('http://localhost:4000')
            .end(function(err, res) {
                console.log(res);
                var data = res.body.tweets;
                riot.mount('tweet', {
                    data: data
                })
            })
    </script>
    <script src='topBar.js'></script>
    <script src='tweetForm.js'></script>
    <script src='tweet.js'></script>
    <script>
        riot.mount('*');
    </script>
</body>

</html>
