<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>Login</title>
        <link rel='stylesheet' href="/bower_components/skyblue/css/skyblue.min.css">
    </head>

    <body>
        <topbar></topbar>
        <loginForm></loginForm>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js'></script>
        <script>
            var request = window.superagent;
            // request.get('https://api.github.com/users/heimusu')
            //     .end(function(err,req){
            //         var data = req.body
            //         riot.mount('tweet', {data:data, name:data.name})
            //     })
        </script>
        <script src='https://cdn.jsdelivr.net/riot/2.3/riot.min.js'></script>
        <script src='assets/javascript/topBar.js'></script>
        <script src='assets/javascript/loginForm.js'></script>
        <script>
            riot.mount('*');
        </script>
    </body>

</html>
