<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>SignUp</title>
        <link rel='stylesheet' href="/bower_components/skyblue/css/skyblue.min.css">
    </head>

    <body>
        <topbar></topbar>
        <signUpForm></signUpForm>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js'></script>
        <script>
            var request = window.superagent;
            var endpoint = 'http://localhost:3000';
            //var endpoint = 'http://ec2-52-69-8-188.ap-northeast-1.compute.amazonaws.com';
            //var endpoint = 'http://teamg-twitter-elb-1649660177.ap-northeast-1.elb.amazonaws.com';
        </script>
        <script src="/bower_components/cookies-js/dist/cookies.min.js"></script>
        <script src='https://cdn.jsdelivr.net/riot/2.3/riot.min.js'></script>
        <script src='assets/javascript/topBar.js'></script>
        <script src='assets/javascript/signUpForm.js'></script>
        <script>
            riot.mount('*');
        </script>
    </body>

</html>
