<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>UserPage</title>
    <link rel='stylesheet' href="/bower_components/skyblue/css/skyblue.min.css">
</head>

<body>
    <topbar></topbar>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js'></script>
    <script src="/bower_components/cookies-js/dist/cookies.min.js"></script>
    <script src='https://cdn.jsdelivr.net/riot/2.3/riot.min.js'></script>
    <script>
        var request = window.superagent;
        var endpoint = 'http://localhost:4000';
        // TL取得処理
        request.get(endpoint + '/')
            .set('Content-Type', 'application/json')
            .set('Authorization', 'Bearer ' + Cookies.get('access_token'))
            .end(function(err, res) {
                // console.log(res.body.tweets);
                var data = res.body.tweets;
                riot.mount('tweet', {
                    data: data
                })
            })
        // ユーザーデータ取得処理
        // memo:キャッシュからユーザーネームが取得できる処理を前に挟まないといけない
        var username = 'CA16Tech';
        request.get(endpoint + '/user/' + username)
            .set('Content-Type', 'application/json')
            .set('Authorization', 'Bearer ' + Cookies.get('access_token'))
            .end(function(err, res) {
                console.log(res.body);
                // var data = res.body.tweets;
                // riot.mount('user', {
                //     data: data
                // })
            })
    </script>
    <script src='assets/javascript/topBar.js'></script>
    <script>
        riot.mount('*');
    </script>
</body>

</html>
