<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>UserPage</title>
    <link rel='stylesheet' href="/bower_components/skyblue/css/skyblue.min.css">
</head>

<body>
    <topbar></topbar>
    <userInfo></userinfo>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js'></script>
    <script src="/bower_components/cookies-js/dist/cookies.min.js"></script>
    <script src='https://cdn.jsdelivr.net/riot/2.3/riot.min.js'></script>
    <script>
        var request = window.superagent;
        var endpoint = 'http://localhost:3000';
        //var endpoint = 'http://teamg-twitter-elb-1649660177.ap-northeast-1.elb.amazonaws.com';
        if(location.search.substring(1).split('=')[1] != undefined){
            request.get(endpoint + '/getUser')
                .set('Content-Type', 'application/json')
                .set('Authorization', 'Bearer ' + Cookies.get('access_token'))
                .set('userId', location.search.substring(1).split('=')[1])
                .end(function(err, res) {
                    riot.mount('userInfo', {
                        data: res.body.data
                    });
                });
        }

        else{
            // ユーザーデータ取得処理
            request.get(endpoint + '/getUser')
                .set('Content-Type', 'application/json')
                .set('Authorization', 'Bearer ' + Cookies.get('access_token'))
                .end(function(err, res) {
                    riot.mount('userInfo', {
                        data: res.body
                    });
                });
        }

    </script>
    <script src='assets/javascript/topBar.js'></script>
    <script src='assets/javascript/userInfo.js'></script>
    <script src='assets/javascript/userTweets.js'></script>
    <script>
        riot.mount('*');
    </script>
</body>

</html>
